body {
  background: #f3f6fb;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.flyer {
  max-width: 420px;
  margin: auto;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.header {
  background: #1e6ee6;
  color: white;
  text-align: center;
   padding: 25px 10px;
}

.header h1 {
  margin: 0;
  font-size: 40px;
}

.header p {
  margin: 5px 0 0;
  font-size: 13px;
  opacity: 0.6;
}

.content {
  padding: 25px 20px;
  text-align: center;
}

.icon {
  width: 50px;
  height: 50px;
  background: #1e6ee6;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 22px;
}

h2 {
  margin-top: 15px;
}



.word {
  font-size: 14px;
  color: #444;
  margin: 15px 0 25px;
  text-align: left;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.flex-details {
  background: #fafafa;
  border-radius: 6px;
  padding: 15px;
  text-align: left;
}

.flex{
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.flex:last-child {
  border-bottom: none;
}

.flex.total {
  font-weight: bold;
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 25px 0;
}

.logo1 {
  height: 100px;
  width: 150px;
}
.logo2 {
    height: 70px;
    width: 100px;
}

.footer {
  text-align: center;
  font-size: 11px;
  color: #777;
  padding: 15px;
}

.footer .p1 {
    color: black;
    opacity: 0.9;
}
